@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Inter:wght@300;400;500&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Inter:wght@300;400;500&family=Orbitron&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(HandPaintedMKII.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif; 
  overflow: hidden;
}
.logo img{
  height: 50px;
  margin: 5px;
  float: left;
  padding-left: 20px;
  filter: invert(100%); 
}
.welcome {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  color: white;  
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.welcome h1, h2{
  letter-spacing: 4px; 
  text-transform: uppercase;
}
.welcome h1 {
  font-size: 60px;
  margin: 10px;
}
.welcome h2 {
  font-size: 23px;
}
.transition-button {
  display: inline-block;
  padding: 30px 40px;
  color: white;
  background-image: url(Untitled\ \(2\ x\ 1\ in\).png);
  background-size: cover;
  text-decoration: none;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  letter-spacing: 4px; 
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-image: url(Untitled\ \(2\ x\ 1\ in\).png);
  background-size: cover;
  background-position: center;
  transform-origin: center;
  z-index: 0;
  transition: width 1s, height 1s, top 1s, left 1s;
}