*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'poppins', sans-serif;

}
html {
	scroll-behavior: smooth;
}
.main{
	width: 100%;
	height: 100vh;
	display: flex;
	text-align: center; 
}
/* SIDE NAVBAR */
.nav{
	width: 20%;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #121227;
}
#logo{
	color: #e69b00;
	font-size: 30px;
	letter-spacing: 4px;
	padding: 15px;
}
.nav a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	display: list-item;
	padding: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.nav a:hover{
	background-color: red;
	transition: 0.5;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #e69b00;
	margin-left: 90px;
	text-align: left;
	letter-spacing: 2px;
	font-size: 20px;
}
/* SROLL ALL PAGES */
.scroll-container{
	width: 300x;
	margin-left: 250px;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #000000;
}
.scroll-container img{
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
}
.scroll-container h2{
	color: #fff;
	margin-top: 20px;
	letter-spacing:4px;
	padding: 20px;
	font-size:50px;
}
.scroll-page{
	height: 130vh;
	padding: 15px;
	margin: 20px;
	font-size: 18px;
	color: #ffffff;
}
.scroll-page img{
	border-radius: 8px;
	margin-right: 20px;
}

h1{
	overflow: hidden;
	border-right: .17em solid white;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .17em;
	animation: typing 3.5s steps(30, end), blinking-cursor .3s step-end infinite;
}
@keyframes typing {
from { 
width: 0;
}
to { 
width: 100% 
}
}
@keyframes blinking-cursor {
	from,
	to { 
	border-color: transparent;
	}
	50% {
	border-color: white;
}
}

/* ABOUT PAGE ONLY */
#about{
	width: 400x;
	margin-left: 150px;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #000000; 
	text-align: left;
}

/* ME AT THE MOMENT PAGE ONLY */
#Me-at-the-moment{
	margin-left: 30px;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #000000; 
}
.fav-table{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.col{
	flex: 25%;
	padding: 8px;
	max-width:320px;
	box-sizing: border-box;
}
.table{
	background-color: #121227;
	padding: 40px 20px;
	font-family:"montserrat", sans-serif;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px #00000070;
	border-radius: 2%;
}
.table h5{
	text-transform: uppercase;
}
.table ul{
	margin: 0;
	padding: 0;

}
.table ul li{
	padding: 10px 0;
	list-style: none;
}
.table a{
	text-decoration: none;
	color: #e69b00;
	border: 2px solid #e69b00;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 40px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.5s linear;
}
.table a:hover{
	background: #e69b00;
	color: #fff;
}
@media screen and (max-width:980px) {
	.col{
		flex: 50%;
	}
}
	
@media screen and (max-width:700px) {
	.col{
		flex: 100%;
	}
}	

/* SCHOOL PAGE ONLY */
.scroll-container h3{
	color: #fff;
	margin-top: 20px;
	letter-spacing:4px;
	padding: 20px;
	font-size:30px;
}
#school{
	width: 350x;
	margin-left: 80px;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #000000; 
	text-align: left;
}
#vision{
	width: 500x;
	margin-left: 0;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #000000; 
	text-align: center;
}
.visiontext{
	height: 100vh;
	padding: 0;
	margin:230px;
	font-size: 18px;
	color: #ffffff;
}


/* CONTACT FORM */
.contact-form{
  width: 85%;
  max-width: 600px;
  background: #121227;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
  margin-left: 500px;
  margin-top: 230px;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  background-color: white;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #e47200;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}



